.item-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 800px;
   margin: 25px auto;
   padding: 50px;
}

.card-title {
   margin-top: 55px;
}

.img {
   width: 300px;
   margin: auto;
}

.volver{
   font-size: 35px;
   font-weight: bold;
   color: black;
}



