.conteiner-form {
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: 15px;
    gap: 10px;
}

.title-form{
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
}

.input-form {
    font-size: 18px;
    padding: 7px;
    width: 50%;
    border-radius: 7px;
    border: .1px solid black;
}

.button-form{
    padding: 7px;
    border-radius: 5px;
    background-color: #8b8080;
    border: none;
    width: 50%;
}

.button-form:hover{
    background-color: #827575;
}